@model MyFrstMVCApp.Models.Client

<h2>Create Customer</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-formaction="MembershipTypeID" class="control-label">Membership Name</label>
        <select asp-for="MembershipTypeId" class="form-control" asp-items="ViewBag.MembershipTypes">
            <option value="">-- Select Membership --</option>
        </select>
        <span asp-validation-for="MembershipTypeId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

@if (ViewBag.Errors != null)
{
    <div class="text-red ml">
        <ul>
            @foreach (string error in ViewBag.Errors)
            {
                <li class="ml">@error</li>
            }
        </ul>
    </div>
}

<p>
    <a asp-action="Index">Back to List</a>
</p>
